BODY, HTML {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #909090;
	font-family: tahoma, arial, sans-serif;
}

#progressbar {
	color: white;
}

#statsGPU {
	position: absolute;
	bottom: 0; right: 0;
}

#statsCPU {
	position: absolute;
	bottom: 0; right: 100px;
}